DJANGO_SECRET_KEY=change-this-to-a-long-random-secret
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SECURE_HSTS_SECONDS=0

AWS_REGION=us-east-1
S3_BUCKET_NAME=your-s3-bucket-name
S3_OUTPUT_PREFIX=stock-market-events
KAFKA_BOOTSTRAP_SERVERS=your-kafka-host:9092
KAFKA_TOPIC=your-kafka-topic
KAFKA_CREATE_TOPIC=True
KAFKA_TOPIC_PARTITIONS=1
KAFKA_TOPIC_REPLICATION_FACTOR=1
STOCK_DATASET_PATH=dataset/indexProcessed.csv
PRODUCER_DELAY_SECONDS=0.2
PRODUCER_LIMIT=0
PRODUCER_LOOP=False

KAFKA_CONSUMER_GROUP=marketpulse-s3-consumer
CONSUMER_BATCH_SIZE=500
CONSUMER_FLUSH_INTERVAL_SECONDS=10
CONSUMER_MAX_MESSAGES=0
CONSUMER_FROM_BEGINNING=False
